html, body {
	background-color: #272822;
	color: #D0D0D0;
}

a {
	color: #3579A8;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

section {
	padding: 4px;
	border-radius: 4px;
}

/**
 * Navigation bar
 */
nav.navbar {
	background-color: #303030;
	border-radius: 0;
}

.navbar-default .navbar-nav > li > a {
	color: #4EB4FA;
}
.navbar-default .navbar-nav > li > a:hover {
	color: #3579A8;
}

nav.navbar .navbar-nav > li.active > a {
	color: #4EB4FA;
	background-color: #101010;
}
nav.navbar .navbar-nav > li.active > a:hover {
}
